<div id="idHomeContact_1">

   <div class="container-fluid">
       <div class="row justify-content-center">

           <div class="card" style="width: 18rem;">
               <img src="/Images/231.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/232.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/233.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/234.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/235.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/236.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/237.JPG" class="card-img-top" alt="...">
           </div>

           <div class="card" style="width: 18rem;">
               <img src="/Images/238.JPG" class="card-img-top" alt="...">
           </div>


       </div>
   </div>
</div>
