<div class="container-fluid hmin500 ">

    <div class="row justify-content-center py-3">
        <h3 class="p-3">Ваше обращение принято. В ближайшее время с Вами свяжется наш специалист.</h3>

    </div>

    <div class="row justify-content-center py-3">
      
        @Html.ActionLink("Вернуться на домашнюю страницу.", "Index", "Home", routeValues: null,
           htmlAttributes: new { @style = "font-size: 1.5em", @class = "btn btn-secondary" })
    </div>

</div>

