<div>
    <h5 class="p-3">Пользователь с указанным Email отсутствует и/или вы ввели неверрный Email и/или формат введенного Email не верен.</h5>
    <a href="/Admin/Index" class="btn btn-dark p-3">Вернуться в панель администратора.</a>
</div>

